.ag-theme-quartz-dark {
  --ag-accent-color: #F47209;
  --ag-background-color: #020202;
  --ag-browser-color-scheme: dark;
  --ag-chrome-background-color: rgba(239, 233, 233, 0.07); /* Adjusted for your mix property */
  --ag-foreground-color: #EFE9E9;
  --ag-header-background-color: #070301;
  --ag-header-font-size: 14px;
  --ag-header-text-color: #FFF7F7;
  --ag-font-size: 14px; /* Default font size */
  --ag-font-family: sans-serif; /* Default font family */
}
